
h1, h2, h3 {
  margin: auto;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 55px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.thisPage {
  margin-top: 15px;
}

.link {

}
